# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false

[*.json]
charset = utf-8
insert_final_newline = false
trim_trailling_whitespace = true
indent_style = space
indent_size = 2

[*.{mjs,js}]
charset = utf-8
end_of_line = crlf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.tf]
charset = utf-8
insert_final_newline = true
trim_trailling_whitespace = true
indent_style = space
indent_size = 2


[*.vtl]
charset = utf-8
insert_final_newline = false
trim_trailling_whitespace = true
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true