# EditorConfig is awesome: https://EditorConfig.org

##########################################
# Common Settings
##########################################

# top-most EditorConfig file
root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = crlf

##########################################
# File Extension Settings
##########################################

[*.json]
insert_final_newline = false
indent_size = 2

[*.{mjs,js}]
indent_size = 2

[*.tf]
indent_size = 2

[*.vtl]
insert_final_newline = false
indent_size = 2

[*.yml]
indent_size = 2
