#set($inputRoot = $input.path('$'))
{
  "recipe" : {
    "userId": "$context.authorizer.claims.sub",
    "name": "$inputRoot.recipe.name",
    "ingredients": $inputRoot.recipe.ingredients,
    "preparation": "$inputRoot.recipe.preparation",
    "preparationTime": $inputRoot.recipe.preparationTime,
    "favorite": $inputRoot.recipe.favorite
  }
}