#set($inputRoot = $input.path('$'))
{
  "measurement" : {
    "userId": "$context.authorizer.claims.sub",
    "name": $inputRoot.measurement.name,
    "ingredients": $inputRoot.measurement.ingredients,
    "preparation": $inputRoot.measurement.preparation,
    "preparationTime": $inputRoot.measurement.preparationTime
  }
}